.App {
  text-align: center;
  padding-left: 50px ;
  padding-top: 30px;
  width: 50%;
}

form {
  display: flex;

}
.btn {
  margin-left: 5px;
  height: 100%;
}
form div {
  margin-left: 5px;
}
li {
  text-align: left;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}